**STRINGS METHODS**

---


1.  **capatalize():**use to capatlize the first word
2.   **replace():** used to replace a specific substring
3. **upper()**:used to convert all the strings in  uppercase letter
4. **index()**:used to find the index of the string
5. **find()**:used to find the postion of the specific value
6. **count()**:used to count how many time a value appears in list or string

In [1]:
name= "pakistan is my country"
print(name.capitalize())
print(name.replace("pakistan","american"))
print(name.upper())
print(name.index("my"))
print(name.find("country"))
print(name.count("is"))

Pakistan is my country
american is my country
PAKISTAN IS MY COUNTRY
12
15
2

**LIST METHOD**

---
1. **Append(**):used to add the element to the end of a list  
2. **insert**():used to add an element at a specific index in list
3. **reverse()**: used to reverse the order list
4. **pop**(): remove the last element
5. **sort**(): it used to sort the list in ascending or decending order
6. **extend**(): it used to add the new list at the end of current list

In [2]:
my_list=["musfa","urooj","mahenn","laraib","aliza"]
print(my_list)
my_list.append("taha ali")

print(my_list)
my_list.insert(3," sarmand")

my_list.reverse()
print(my_list)

my_list.pop()
print(my_list)

my_list.sort()
print(my_list)

new_list=["kiran", "abdullah"]
my_list.extend(new_list)
print("old list",my_list)
print("new list",new_list)

['musfa', 'urooj', 'mahenn', 'laraib', 'aliza']
['musfa', 'urooj', 'mahenn', 'laraib', 'aliza', 'taha ali']
['taha ali', 'aliza', 'laraib', ' sarmand', 'mahenn', 'urooj', 'musfa']
['taha ali', 'aliza', 'laraib', ' sarmand', 'mahenn', 'urooj']
[' sarmand', 'aliza', 'laraib', 'mahenn', 'taha ali', 'urooj']
old list [' sarmand', 'aliza', 'laraib', 'mahenn', 'taha ali', 'urooj', 'kiran', 'abdullah']
new list ['kiran', 'abdullah']

**TUPLE METHODS**

---
1. **count():**tell you how many times a specifie values appears in the tuple
2. **index()**: find the position of the sepcific tupls

In [4]:
tuple=( 1,2,5,7,5,5,4,3,2,)
print(tuple.count(5))
print(tuple.index(2))

3
1