In [2]:
print("hellow world")

hellow world

***arithmetic operators***

In [15]:
num1:int=2
num2:int=5
print(5+2)
print(2*5)
print(2**5)
print(2%5)
print(2-5)
print(2//5)
print(2/5)

7
10
32
2
-3
0
0.4

***Assigment operators***

In [26]:
x:int = 5
x= x + 5
print(x)
x= x-5
print(x)
x= x*5
print(x)
x=x**5
print(x)
x=x%5
print(x)
x=x/5
print(x)

10
5
25
9765625
0
0.0
0.0

***comparsion operators***

In [34]:
num1:int=20
num2:int=10
print(num1==num2)
print(num2<num1)
print(num1>num2)
print(num1<=num2)
print(num2<=num1)
print(num1!=num2)

False
True
True
False
True
True

***logical operators***

In [ ]:
#or and

In [38]:
num1:int= 40
print(num1>10and num1 <40)
print(num1>10 or num2<40)

False
True